/*  Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif ;
}
/* common */
.clear {
  clear: both;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
  
}
.font-16 {
  font-size: 16px;
  
}
/*  */
#main {
margin: 0 0;
}
#header {
  height: 100px;
}

#header .main-header {
  display: flex;
  align-items: center;
  justify-content: center;
}


#header > #banner {
    top: 0;
    left: 0;
    right: 0;

}
#header #logo a,
#footer #logo a {
  text-align: center;
  text-decoration: none;
  color: red;
  position: absolute;
  padding: 5px;
  left: 5%;
  font-weight: 800;
  font-size: 50px;
  top: 10%;
}

#header .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    float: left;
    padding-left: 100px;
  }
#header #header-search-form {
    border: 1px solid red;
    padding: 0px;
    border-radius: 30px;
    width: 486px;
}
#header  #header-search-form > input[type="text"] {
    padding: 10px;
    width: 250px;
    border-radius: 50px;
    margin-right: 10px;
    border: none;
  }
  
  #header  #header-search-form > select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    border: none;
  }
  
  #header  #header-search-form > button.search-icon {
    padding: 12px 15px;
    border-radius: 20px;
    border: none;
    background-color: red;
  }
  
  #header  #header-search-form::after {
    content: "";
    display: table;
    clear: both;
  }
  
  #header-search-form input[type="text"],
  #header-search-form select,
  #header-search-form button {
    float: left;
    border-radius: 30px;
  }

/*  */
  #header .top-right {
  padding: 20px;
}
  #header  .user-account {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 200px;
  }
  
  #header  .account-icon {
    margin-right: 10px;
  }
  
  #header  .login-register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #header  .login-register-section a {
    margin-bottom: 10px;
    text-decoration: none;
    color: #3f3f3f;
  }
  #header .login-register-section a:hover {
    color: blue;
  }
  #header  .login-register-section .user-header > a {
    color: #3f3f3f;
    font-weight:bold;
  }
  #header  .login-register-section  .login-header {
    margin-bottom: 2px;
  }
/*  */
  #header  .cart {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  #header  .cart-icon {
    margin-right: 10px;
  }

  #header  .quantity-number {
    color: #777777;
    float: left;

  }
  #header  .quantity {
    color: #777777;
    border-radius: 50%;
    font-weight: 600;
    text-decoration: none;
  }
  #header  .header-cart:hover {
    color: blue;
  }

  #header .text-cart {
    margin-bottom: 2px;
    font-size: 14px;

  }
  #header .text-cart a {
    text-decoration: none;
    color: #3f3f3f;
  }

/*  */
/* Nav section */
#nav {
  height: 42px;
  width: 100%;
  border-bottom: 2px solid rgb(221, 14, 14);
}
#nav .menunav {
    display: inline-block;
    line-height: 42px;
    width: 60%;
    float: left;
    position: absolute;
    left: 300px;
    top: 154px;
}
#nav ul {
  text-align: center;
  display: inline-block;
}
#nav  li {
  display: inline-block;
  padding: 0px 10px;
  font-family: 'Signika Negative', sans-serif;

}
#nav  li > a{
  color: #3f3f3f;
  text-decoration: none;
  transition: all .25s ease;
  text-align: center;
  font-weight: 700;
}
/*  */

#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}

#nav .subnav li:hover {
  display: block;
}

#nav .subnav li {
  margin-bottom: 5px;
}

#nav .subnav a {
  display: block;
  padding: 5px;
  color: #333;
  text-decoration: none;
}

#nav .nav-arrow-down {
  margin-left: 5px;
}
/*  */
#nav .product-category {
    width: 17%;
    left: 30px;
    position: absolute;
    background-color: #de1d25;
    height: 40px;
}
#nav .open-menu-left {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

#nav .category-bar-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  background-color: #de1d25;
  color: #fff;
  margin-left: 10px;
}

#nav .category-bar-mobile i {
  font-size: 20px;
  display: none;
}
#nav .product-category span {
    font-size: 15px;
    font-weight: 600;
}
#nav .category-title {
  color: #fff;
  text-align: center;
}
#nav .open-menu-nav {
  display: block;
  position: absolute;
  height: 500px;
  left: 0;
  width: 100%;
  margin: 10px 0;
}
#nav .open-menu-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 500px;
  width: 100%;
  float: left;
  position: absolute;
}

#nav .open-menu-nav li {
    padding: 11px 18px;
    float: left;
    width: 100%;
    border: 1px solid rgba(129,129,129,.15);    
}

#nav .open-menu-nav a {
    position: relative;
    display: block;
    font-size: 15px;
    left: 0;
    float: left;
}

#nav .open-menu-nav a:hover {
  color: #ff6600;
}
#nav .open-menu-img {
  position: absolute;
  height: 18px;
  width: 18px;
  left: 0;
}
#nav .open-menu-text {
  margin-left: 19px;
}
#nav .angle-down {
    padding-left: 5px;
    color: #fff;
    margin-left: 10px;
}



#nav .return-section {
  display: inline-block;
  padding: 3px 0px 3px;
  line-height: 42px;
  padding-left: 100px;
  float: right;
  width: 35%;
  right: 0px;
  position: absolute;
  top: 154px;
}
#nav .return-section a {
  padding-left: 30px;
}

/*  */

/* Grid section item abum ảnh*/
#grid-section {
  display: grid;
  height: 570px;
  width: 1020px;
  overflow: hidden;
  margin-left: 288px;
}
#grid-section .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'item1 item1 item4'
    'item2 item3 item4';

}
#grid-section #item {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}

#grid-section .grid-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit:fill;

}
#grid-section .item1 {
  grid-area: item1;
}
#grid-section .item2 {
  grid-area: item2;
}
#grid-section .item3 {
  grid-area: item3;
}
#grid-section .item4 {
  grid-area: item4;
}
#grid-section .item5 {
  grid-area: item5;
}
#grid-section .item6 {
  grid-area: item6;
}
/*  */



/* Benefit-boxes  infor section*/

#benefit-boxes {
  display: flex;
  padding: 10px 0px 15px;
  margin: 30px 45px;
}

.infor {
  flex: 1;
  display: flex;
  align-items: center;
}

.infor-img img {
  margin-right: 10px;
}

.infor-content {
  display: flex;
  flex-direction: column;
}

.infor-content b {
  margin-bottom: 5px;
}

/*  */

#cate-main {
  position: relative;
  height: 200px;
  width: 100%;
}

.standout-categories {
  display: flex;
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
}

.cate-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 180px;
  height: 155px;
  padding: 25px 15px;
  background: #f5dcdc69;
}

.cate-item {
  height: 120px;
  width: 120px;
}
.cate-item img {
  max-width: 100%;
  height: auto;
}

.cate-title {
  margin-top: 10px;
}
.cate-heading {
    border: 1px solid #de1d25;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: #de1d25;
    text-transform: uppercase;
    padding: 8px 38px;
    width: 250px;
    text-align: center;
    position: absolute;
    left: 46%;
    right: 50%;
    z-index: 1;
}
/*  */


/* Product section */
#Product {
  position: relative;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 10px;
  height: 450px;
  width: 100%;
}


#Product .product-heading {
  margin-bottom: 10px;
  padding: 5px 20px;
  border-radius: 10px;
  float: left;
  width: 100%;
}

.product-main {
  display: block;
}



#Product .product-section {
  display: inline-block;
  height: 360px;
  width: 215px;
  border: 2px solid #ec0808;
  margin: 5px 15px;
}
#Product .product-heading p {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  background-color: red;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
#Product .product-img {
  width: 100%;
  height: 215px;
  display: block;
  margin-top: 45px;
}

.product-icons {
  position: absolute;
  height: 50px;
  width: 213px;
}
#Product .onsale-left {
  position: absolute;
  background-color: #ff0000;
  color: #fff;
  padding: 5px 7px;
  font-weight: bold;
  float: left;
  border-radius: 30px;
  margin-left: 10px;
  margin-top: 10px;
}
#Product .new-right {
  position: absolute;
  background-color: #00cc00;
  color: #fff;
  font-weight: bold;
  float: right;
  right: 5px;
  padding: 5px 7px;
  border-radius: 30px;
  margin-top: 10px;
  margin-right: 10px;
}

#Product .product-bottom {
  margin-bottom: 10px;
  display: block;
  padding: 0px 9px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  text-align: center;
  margin: 15px 0;
}

#Product .product-price {
  font-size: 15px;
  text-align: center;
}

#Product .del {
    color: #3a2c2c;
}

#Product .product-price span {
  color: red;
  font-weight: 600;
}

/*  */
.column{
  margin: 10px;
  border-radius: 20px;
  width: 350px;
  float: left;
  border: 2px solid red;
  background-color:bisque;
  height: 310px;
  box-shadow:none;
}
h2{
text-align:center;
}
.san-pham{
  border-radius: 20px;
  
  padding: 10px;
  margin: 5px;
  text-align: center;
}
.ten{
  font-size: larger;
  font-variant: small-caps;
  color:orangered;
}
.san-pham.img{
  max-width: 95%;
}
.gia{
  font-weight: bold;
  font-size: larger;
  color: red;
}

.san-pham img:hover{
  border: 2px solid yellow;
  box-shadow: 2px 2px 2px 5px orange;
  background-color: aqua;
}


/* banner */
.banner {
  padding: 10px;
  display: flex;
}
.banner .banner-left {
  width: 50%;
  height: 135px;
  /* position: absolute; */
  display: flex;
  padding: 10px;
}
.banner .banner-right {
  width: 50%;
  height: 130px;
  display: flex;
  padding: 10px;
}


/*  */


/*  */
#company-logos {
  width: 100%;
  height: 60px;
  display: block;
  position: relative;
}
#company-logos .column-logo {
  height: 50px;
  width: 200px;
  display: inline-block;
  padding: 20px;
  margin-left: 40px;
  clear: both;
}
#company-logos .column-logo img {
  width: 161px;
  height: 50px;
  top: 0px;
  position: absolute;
}
#company-logos .column-logo a {
  position: absolute;
  height: 50px;
  width: 200px;
}


/*  */


/*  */
#social-email-login {
  position: relative;
  width: 100%;
  height: 105px;
  background: #DE1D25;
  display: block;
  padding: 20px;
  top: 40px;

}
#social-media-icon {
  display: flex;
  position: absolute;
  padding: 33px;
  width: 308px;
  height: 104px;
  top: 0;
  left: 50px;
  background: #ff5f5f;
  align-items: center;
  justify-content: center;
}
.social-icons {
  display: inline-block;
  margin-right: 10px;
  color: #000;
  font-size: 20px;
  height: 36px;
  text-decoration: none;
}


.icons {
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

/* Các lớp mô phỏng các biểu tượng mạng xã hội */
.ti-facebook:before {
  content: "\f09a";
}

.ti-twitter-alt:before {
  content: "\f268";
}

.ti-youtube:before {
  content: "\f16a";
}

.ti-instagram:before {
  content: "\f16d";
}

.page-title {
  position: absolute;
  padding: 25px 0;
  display: inline-block;
}


.page-title {
  position: absolute;
  padding: 25px;
  display: inline-block;
  left: 27%;
  top: 7px
}
h1.page-title-1 {
  font-size: 22px;
  color: #fff;
}
h3.page-title-2 {
  color: #fff;
  font-size: 17px;
}


.email-login-form {
  float: right;
  width: 663px;
  height: 60px;
  padding: 25px 0;
  position: relative;
  clear: both;
  right: 50px;
}

#email {
  padding: 0 15px;
  width: 542px;
  height: 50px;
  float: left;
  position: absolute;
  top: 10px;
  display: inline-block;
}
input[type="submit"] {
  width: 112px;
  height: 50px;
  padding: 12px 35px;
  float: right;
  position: absolute;
  display: inline-block;
  right: 10px;
  background-color: #8D0000;
  color: #fff;
  text-align: center;
  top: 10px;
}

/*  */

















/* footer section*/

#footer {
  margin-top: 50px;
  display: block;
}
#footer .text-footer {
  display: inline-block;
  width: 372px;
  height: 400px;
  font-size: 17px;
  padding-left: 30px;
  float: left;
}
#footer .text-footer img {
  padding: 5px 0;
}
#footer .text-footer p {
  padding: 10px;
}
#footer .text-footer i {
  padding: 0 5px;
}
#footer .menu-footer {
  padding: 0 30px;
  float: left;
  font-size: 17px;
}
#footer .text-menu-footer {
  text-align: center;
  padding: 5px 0;

}
#footer .text-menu-footer h3 {
  font-size: 16px;


}
#footer .menu-footer ul {
  width: auto;
  height: auto;
}
#footer .menu-footer li {
  padding: 10px;
  list-style: none;
}
#footer .menu-footer a {
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}

/* promotion section */
#footer #promotion {
  background-color: #f5f5f5;
  padding: 20px;
  width: 32%;
  position: relative;
  float: right;
  top: 0px;
}

#footer #promotion h2 {
  text-align: left;
  font-size: 16px;
}

#footer #promotion .promotion-main {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
  height: 100px;
}

#footer #promotion .promotion-img img {
width: 64px;
height: 64px;
}

#footer #promotion .promotion-title {
  margin-left: 10px;
  font-size: 15px;
  position: absolute;
  float: right;
  width: 100%;
  left: 25%;
}

#footer #promotion .promotion-price {
  margin-left: auto;
  font-size: 11px;
  width: 100%;
  top: 80px;
  position: absolute;
  left: 80px;
}
#footer #promotion .promotion-price del {
color: #999;
}

#footer #promotion .promotion-price span {
color: #f00;
font-weight: bold;
}

/*  */